@page "/"
<style>
    .greeting.disabled {
        color: #ccc;
    }

    .greeting .oi {
        visibility: hidden;
    }

    .greeting.show-icon .oi {
        visibility: visible;
    }
</style>

<h1 class="@CssClass("greeting", new {Disabled, ShowIcon})">
    <span class="oi oi-home" aria-hidden="true"></span>
    Welcome to your new app.
</h1>

<p>
    <label>
        <input type="checkbox" @bind="Disabled" />
        <span>Disabled</span>
    </label>
    <label>
        <input type="checkbox" @bind="ShowIcon" />
        <span>Show Icon</span>
    </label>
</p>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    bool Disabled = false;
    bool ShowIcon = true;
}